<!DOCTYPE html>
<html>
  <head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="../styles.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('main.js').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
  <table>
  <thead>
    <th>ID</th><th>Name</th><th>Address</th>  
  </thead>
  <tbody>
  <tr *ngFor="let emp of employees" [class.selected]="emp === currentemp"
  (click)="currentEmployee(emp)">
  <td><span class="idn">{{emp.id}}</span></td><td>{{emp.name}}</td><td>{{emp.address}}</td>
  </tr>
  </tbody>
  </table>
  <div *ngIf="currentemp">
    <h2>{{currentemp.name | uppercase}} is my employee</h2>
    <button (click)="gotoDetail()">View Details</button> 
  </div>
  </body>
</html>