.selected {
  background-color: black !important;
  color: white;
  }
  tbody{
    background-color: lightgrey;
  }
  th {
    background-color: grey;
    color: white;
  }
  td{
    text-align: center;
  }
  tr:hover {background-color: lightblue}
  .idn {
    color: brown;
  }